/* bod{
  font-style: Arial;
}
.image1
{
  width: 50%;
  object-fit: cover;
}
.images1{
  display: flex;
}
.image2{
  width: 50%;
  object-fit: cover;
}
.images2{
  display: flex;
}
.h1{
  
  font-size: 40px;
  text-align: center;
}
.p{
  line-height: 20px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 14px;

} */

/* .pict{
  background-color: rgb(248, 238, 238);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}
@media all and (max-width: 500px)
{
  .pict {
    background: red;
  }
} */




.section {
  display: flex;
}

.bgimage ,.wrapper {
  flex: 1;
}

.wrapper {
  background: bisque;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 80%;
}

.content p {
  text-align: center;
}

.image {
  width: 100%;
}

@media all and (max-width: 700px)
{
 .section {
  flex-direction: column;
 }
}