.header{
    width=100%;
    background: orange;
    height: 150px;

}
.left-section{
    width: 200px;
    height: 400px;
    background: orchid;
    float: left;
    
}
.right-section{
    width: 20%;
    height: 400px;
    background: gray;
    float: left;
}
.footer{
     height: 150px;
     width: 20%;
     background: red;

}
.content{
    height: 400px;
}
