.yellow{
  background-color: rgb(243, 243, 156);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: -8px;
  margin-right: -9px;
}
.css-h1{
    
  font-size: 90px;
  
  margin-top: 90px;
  margin-bottom: 5px;
  
}
.css-h2{
  font-size: 20px;
  margin-bottom: 30px;
  

}
.learn-css{
  background-color: rgb(45, 156, 91);
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 30px;
  border: none;
  margin-bottom: 20px;
}

.css-reference{
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 30px;
  border: none;
  margin-bottom: 20px;
}
.get-certified-css{
  background-color: lightpink;
  color:black;
  font-weight: bold;
  font-size: 16px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 30px;
  border: none;
  margin-bottom: 80px;
}