.nav-bar {

  display: flex;
}
.logo{
  flex: 1;
  
}
.logo-image{
  display: flex;
  justify-self: end;
  
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.home{
  background-color: red;
  flex: 1;
  text-align: center;;
}
.other{
  background-color: green;
  flex: 1;
  text-align: center;
}
.signout{
  
  flex: 1;
  display: flex;
  text-align: end;
  
}
.space{
  flex: 1;
  background-color: white
}
.signout1{
  flex: 1;;
  background-color: yellow;

}
.images{
  display: flex;
  
}
.image1{
  flex: 1;
}
image2{
  flex: 1;
  height: 100%;
}
.images1{
flex: 1;
object-fit: cover;
  
 width: 100%;
 
}
.images2{
  object-fit: cover;
  height: 100%;
  width: 100%;
 
  flex: 1;

}
.banner{
  display: flex;
  width: 100%;;
}